@import "../../style.scss";

.vacationContainer {
  @include themify($themes) {
    color: themed("textColorActive");
    background: themed("bg");
    padding-top: 20px;
    margin: 0px 100px;
    font-size: 20px;
    width: 1000px;
    .vacationList {
      border: 1px solid rgb(186, 184, 184);
      border-radius: 20px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      .container {
        display: flex;
        margin: 10px;
        .imgVacation {
          height: 275px;
          width: 400px;
          border-radius: 10px;
        }
        .details {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-left: 40px;
          width: 500px;
          .info {
            width: 275px;
          }
        }
      }
    }
  }
}
