.memberListVacation {
  border-top: 1px solid rgb(224, 224, 224);
  width: 80vh;
  min-height: 435px;
  background: rgb(255, 255, 255);
  overflow-y: scroll;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  .userInvacation:hover {
    cursor: pointer;
    transition: 0.5s;
    background: #e7e6e6;
  }
  .userInvacation {
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
    .detailAddd {
      display: flex;
      flex-direction: column;
      gap: 2px;
      .nameAddd {
        font-weight: 500;
      }
      .followerAddd {
        font-size: 12px;
      }
    }
  }
}
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}
.listAdd::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
.listAdd::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}
