@import "../../style.scss";

.notifi {
  @include themify($themes) {
    height: 713px;
    background: themed("bg");
    width: 360px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: 0.5s;
    opacity: 0;
    transform: translateX(-100%);
    visibility: hidden;
    padding: 0 1.5rem;
  }
}

.notifi {
  @include themify($themes) {
    height: 713px;
    background: themed("bg");
    width: 360px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: 0.5s;
    opacity: 0;
    transform: translateX(-100%);
    visibility: hidden;
  }
}
.show-notifi {
  @include themify($themes) {
    height: 713px;
    background: themed("bg");
    width: 360px;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: 0.5s;
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    padding: 0 1.5rem;
  }
}
