
.loginForm{
  height: 100vh;
  width: 100%;
  /* background: url(../../img/bg3.jpg) ; */
  background-image: url(../../assets/bg3.jpg);


.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 75%;
  height: 42rem;      
  margin-top: 20px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  background-position: center;
  background-size:cover ;
  border-radius: 20px;
  overflow: hidden;
  
  .item{
      position: absolute;
      top: 0;
      left: 0;
      width: 58%;
      height: 100%;
      color: #fff;
      background: transparent;
      padding: 80px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      
      .logo{
          height: 10rem;
          position: relative;
          left: -30rem;
          top: -0.5rem;
          display: flex;
          justify-content: end;
          align-items: end;
      }

      .text-item {
          h2{
              /* margin-bottom: 2rem; */
             position: absolute;
             bottom: 20rem;
             left: 3rem;
             font-size: 40px;
             line-height: 1;
         }
         p{
         font-size: 16px;
         position: absolute;
         bottom: 19rem;
         left: 3rem;
         /* margin: 30px 0; */
         }

          .social-icon{
              a{
                  i{
                      color: #fff;
                      font-size: 30px;
                      margin-left: 15px;
                      margin-bottom:200px ;
                      cursor: pointer;
                      transition: .5s ease;
                      
                  }
              }:hover{
                  transform: scale(1.2);
                  color: #f72d7a;
              }
              
              }

          }
      }
       
  }

  .login-section{
      position: absolute;
      top: 0;
      right: 0;
      width: calc(100% - 58%);
      height: 100%;
      color: #fff;
  }

  .form-box{
      position: absolute;

  .form-login{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
             h2{
                  text-align: center;
                  font-size: 25px;
              }
              .input2{
                i{
                    position: absolute;
                    right: 0px;
                    bottom: 310px;
                    cursor: pointer;
                }
              }

              .input-box{
                  width: 340px;
                  height: 50px;
                  border-bottom: 2px solid#fff;
                  margin: 2rem 0;
                  position: relative;
              
                  input{
                      width: 100%;
                      height: 100%;
                      background: transparent;
                      border: none;
                      outline: none;
                      font-size: 16px;
                      padding-right: 28px;
                      color: #fff;
                  }

                  label{
                      position: absolute;
                      top: -5px;
                      left: 0;
                      font-size: 16px;
                      font-weight: 600px;
                      pointer-events: none; 
                      transition: .5s ease;
                  
                  }

                  .icon{
                      position: absolute;
                      top: 13px;
                      right: 0;
                      font-size: 19px;
                  }
              }

              
              .or{
                  text-align: center;
                  padding: 10px 0;
              }
              .btn{
                  background: #fff;
                  width: 100%;
                  height: 45px;
                  outline: none;
                  border: none;
                  border-radius: 4px;
                  cursor: pointer;
                  background: #f72d7a;
                  font-size: 16px;
                  color: #fff;
                  box-shadow: rgba(0,0,0,0.4);
                  cursor: pointer;
              
                  .loginToHome{
                      text-decoration: none;
                      color: #fff;
                      font-size: 16px;
                  }
              }
      }
      }
      .remember-password{
                  font-size: 14px;
                  font-weight: 500;
                  margin:  15px 0 0 110px;
                  
                  label{
                      input{
                          accent-color: #fff;
                          
                      }
                  }

                  a{
                      color: #fff;
                      text-decoration: none;
                      position: relative;
                      left: 27px;
                  }
                  a:hover{
                      text-decoration: underline;
                  }
              }
      .create-account{
          font-size: 14.5px;
          text-align: center;
          margin: 25px;
           p{
              a{
                  color: #fff;
                  font-weight: 600px;
                  text-decoration: none;
              }:hover{
                  text-decoration: underline;
              }
           }
           
      }

      
  }

