@import "../../style.scss";

.leftBar {
  @include themify($themes) {
    flex: 2;
    position: sticky;
    top: 0px;
    height: 94.3vh;
    background: themed("bg");
    padding: 40px 0 10px 10px;

    .container {
      .menu {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .logo {
          overflow: hidden;

          img {
            width: 15rem;
            height: 92px;
            object-fit: cover;
          }
        }
        .items:hover {
          background: themed("bgnewfeed");
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;

          img {
            border: 2px solid #e84be5;
          }
          .icon {
            color: #e84be5 !important;
          }
          span {
            color: themed("textColorActive") !important;
            font-weight: 450;
          }
        }
        .items {
          display: flex;
          justify-self: center;
          align-items: center;
          height: 40px;
          padding: 12px;
          cursor: pointer;
          padding-left: 40px;
          .icon {
            color: themed("icon");
          }
          span {
            color: themed("textColorsoft");
            font-size: 18px;
            padding: 0 0 0 16px;
          }
        }
        .profile {
          background: transparent;
          display: flex;
          justify-self: center;
          align-items: center;
          padding: 13px;
          cursor: pointer;
          padding-left: 40px;
          img {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            object-fit: cover;
          }
          span {
            color: themed("textColorsoft");
            font-size: 18px;
            padding: 0 0 0 16px;
          }
        }
        .profile:hover {
          background: themed("bgnewfeed");
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;

          img {
            border: 1px solid #e84be5;
            box-sizing: border-box;
          }
          span {
            color: themed("textColorActive") !important;
            font-weight: 450;
          }
        }
        .logout:hover {
          .icon {
            color: #e84be5 !important;
            transition: all 0.5s;
          }
          span {
            color: #e84be5 !important;
            transition: all 0.5s;
          }
        }
        .logout {
          display: flex;
          justify-self: center;
          align-items: center;
          height: 40px;
          padding: 12px;
          margin-top: 50px;
          cursor: pointer;
          padding-left: 40px;
          .icon {
            color: themed("icon");

            object-fit: cover;
          }
          span {
            color: themed("textColorsoft");

            font-size: 18px;
            padding: 0 0 0 16px;
          }
        }
      }
    }
  }
}
