@import "../../style.scss";

.albumDetail {
  @include themify($themes) {
    color: themed("textColorActive");
    background: themed("bg");
    margin: 0px 100px;
    font-size: 20px;
    width: 1000px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    .inputText {
      width: 600px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 20px;
      font-size: 16px;
    }
  }
}
