
.forgetForm{
    height: 100vh;
    width: 100%;
    /* background: url(../../img/bg3.jpg) ; */
    background-image: url(../../assets/bg3.jpg);
  
  
  .container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    height: 42rem;      
    margin-top: 20px;
    // box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    // background-position: center;
    // background-size:cover ;
    // border-radius: 20px;
    overflow: hidden;
    
    .item{
        position: absolute;
        top: 0;
        left: 0;
        width: 58%;
        height: 100%;
        color: #fff;
        background: transparent;
        padding: 80px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        .logo{
            height: 10rem;
            position: relative;
            left: -30.5rem;
            top: -1.9rem;
            display: flex;
            justify-content: end;
            align-items: end;
        }
  
        }
         
    }
  
    .forget-section{
        position: absolute;
        top: 0;
        left: 450px;
        width: calc(100% - 58%);
        height: 100%;
        color: #fff;
    }
  
    .form-box{
        position: absolute;
        border: 1px ;
        border-radius: 10px;
        top: 75px;
        padding: 10px;
        box-shadow: 0 4px 20px 0 rgba(44, 31, 43, 0.3), 0 6px 20px 0 rgba(90, 67, 102, 0.3);
        border-radius: 10px;

  
    .form-forget{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        // border: 1px solid #fff;
                h2{
                    text-align: center;
                    font-size: 25px;
                    margin-bottom: 0;
                }
                
                .icon-lock{
                    border: 1.5px solid #fff;
                    border-radius: 60%;
                    font-size: 45px;
                    background-color: #624455;
                    color: rgb(21, 239, 246);
                }
                .input-box{
                    width: 340px;
                    height: 50px;
                    border-bottom: 2px solid#fff;
                    margin: 2rem 0;
                    position: relative;

                
                    input{
                        width: 100%;
                        height: 100%;
                        background: transparent;
                        border: none;
                        outline: none;
                        font-size: 16px;
                        padding-right: 28px;
                        color: #fff;
                    }
  
                    label{
                        position: absolute;
                        top: -5px;
                        left: 0;
                        font-size: 16px;
                        font-weight: 600px;
                        pointer-events: none; 
                        transition: .5s ease;
                    
                    }
                    .icon{
                        position: absolute;
                        top: 13px;
                        right: 0;
                        font-size: 19px;
                    }
  
                }
  
                .btn{
                    background: #fff;
                    width: 100%;
                    height: 45px;
                    outline: none;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    background: #f72d7a;
                    font-size: 16px;
                    color: #fff;
                    box-shadow: rgba(0,0,0,0.4);
                    cursor: pointer;
                    margin-top: 15px;
                .link{
                    
                    text-decoration: none;
                    color: #fff;
                    font-size: 16px;
                }
                }
        }
        }
        .create-account{
            font-size: 14.5px;
            text-align: center;
            margin: 25px;
             p{
                
                    color: #fff;
                    font-weight: 600px;
                    text-decoration: none;
                
                }:hover{
                    text-decoration: underline;
             }
             
        }
        .backLogin{
            .link{
                color: #fff;outline: none;
                text-decoration: none;
                font-weight: 500;
            }
                    width: 100%;
                    height: 45px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    background: #f72d7a;
                    font-size: 16px;
                    box-shadow: rgba(0,0,0,0.4);
                    cursor: pointer;
        }
        .border-line{
            hr{
                font-size: 10px;
                margin:15px 0 ;
            }
        }
  
        
    }
  
  