
.signup{
    height: 100vh;
    width: 100%;
    /* background: url(../../img/bg3.jpg) ; */
    background-image: url(../../assets/bg3.jpg);
    position: relative;

    .container{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 75%;
        height: 42rem;      
        margin-top: 20px;
        /* background: url(../../img/zyro-image-bg2.png) no-repeat; */
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
        background-position: center;
        background-size:cover ;
        border-radius: 20px;
        overflow: hidden;
        
        .item{
            position: absolute;
            top: 0;
            left: 0;
            width: 58%;
            height: 100%;
            color: #fff;
            background: transparent;
            padding: 80px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            
            .logo{
                height: 10rem;
                position: relative;
                left: -30rem;
                top: -0.5rem;
                display: flex;
                justify-content: end;
                align-items: end;
            }
    
            .text-item {
                h2{
                     /* margin-bottom: 2rem; */
                    position: absolute;
                    bottom: 20rem;
                    left: 3rem;
                    font-size: 40px;
                    line-height: 1;
                }
                p{
                font-size: 16px;
                position: absolute;
                bottom: 19rem;
                left: 3rem;
                /* margin: 30px 0; */
                }
    
                .social-icon{
                    a{
                        i{
                            color: #fff;
                            font-size: 30px;
                            margin-left: 15px;
                            margin-bottom:200px ;
                            cursor: pointer;
                            transition: .5s ease;
                            
                        }
                    }:hover{
                        transform: scale(1.2);
                        color: #f72d7a;
                    }
    
                }
            }
             
        }
    
        .login-section{
            position: absolute;
            top: 0;
            right: 0;
            width: calc(100% - 58%);
            height: 100%;
            color: #fff;
        }
    
        .form-box{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background: transparent;
    
            h2{
                text-align: center;
                font-size: 25px;
            }
            .input2{
                i{
                    position: absolute;
                    right: 75px;
                    bottom: 370px;
                    cursor: pointer;
                }
              }
            .input3{
                i{
                    position: absolute;
                    right: 75px;
                    bottom: 275px;
                    cursor: pointer;
                }
              }

            .input-box{
                width: 340px;
                height: 50px;
                border-bottom: 2px solid#fff;
                margin: 2.5rem 0;
                position: relative;
                
            
                input{
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    border: none;
                    outline: none;
                    font-size: 16px;
                    padding-right: 28px;
                    color: #fff;
                    // outline: none;
                }
    
                label{
                    position: absolute;
                    top: -5px;
                    left: 0;
                    font-size: 15px;
                    font-weight: 600px;
                    pointer-events: none; 
                     transition: .5s ease;
                }
                // .error-message{
                //     min-height: 25;
                //     color: #f72d7a;
                // }
    
                .icon{
                    position: absolute;
                    top: 13px;
                    right: 0;
                    font-size: 19px;
                }
            }
            // .input-box input:focus~ label,
            // .input-box input:valid~ label{
            //     top: -5px;
            // }
    
            .remember-password{
                font-size: 14px;
                font-weight: 500;
                margin: -15px 0 25px ;
                display: flex;
                justify-content: space-between;
    
                label{
                    input{
                        accent-color: #fff;
                        margin-right: 3px;
                    }
                }
    
                a{
                    color: #fff;
                    text-decoration: none;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
    
            .btn{
                background: #fff;
                width: 100%;
                height: 45px;
                outline: none;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                background: #f72d7a;
                font-size: 16px;
                color: #fff;
                box-shadow: rgba(0,0,0,0.4);
                cursor: pointer;
            
            }
    
            .create-account{
                font-size: 14.5px;
                text-align: center;
                margin: 25px;
                 p{
                    a{
                        color: #fff;
                        font-weight: 600px;
                        text-decoration: none;
                    }:hover{
                        text-decoration: underline;
                    }
                 }
            }
    
            .or{
                text-align: center;
                padding: 5px 0;
            }
        }
            }}