@import "../../style.scss";

.profileBar {
  @include themify($themes) {
    display: flex;
    margin: 0px 100px;
    padding: 10px 0px;
    font-size: 20px;
    width: 1000px;
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    color: themed("textColorActive");
    background: themed("bg");
    margin-bottom: 30px;
    .profileButton {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      .link {
        text-decoration: none;
        color: themed("textColorActive");
        .icon {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          position: relative;
        }
        .icon:hover {
          color: #e84be5;
          transition: 0.2s;
        }
      }
    }
  }
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-bottom: 30px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
