@import "../../style.scss";

.home {
  @include themify($themes) {
    background: themed("bgnewfeed");
    padding: 20px 60px;
    min-height: 860px;
    align-content: center;
    justify-items: center;
  }
}
