@import "../../style.scss";

.postList {
  @include themify($themes) {
    color: themed("textColorActive");
    background: themed("bg");
    margin: 0px 100px;
    font-size: 20px;
    width: 1000px;
    border-radius: 20px;
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    // clip-path: inset(0px -10px -10px -10px);
    .noAlbumsMessage {
      display: flex;
      justify-content: center;
      font-size: 20px;
      padding: 100px;
    }
    .noGapImageList {
      gap: 0 !important;
    }
    .imageList {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px;
    }
    .imagePost {
      object-fit: 100%;
      z-index: 2;
      border-radius: 20px;
    }
    .info {
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 3;
      cursor: pointer;
      border-radius: 20px;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
      }
      .count {
        color: white;
      }
    }
    .imageList:hover .info {
      visibility: visible;
    }
  }
}
