@import "../../style.scss";
.searchBar {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: xx-large;
        color: themed("textColorActive");
      }
      button {
        font-size: 4rem;
        background: transparent;
        border-color: transparent;
        color: themed("textColorActive");
        cursor: pointer;
        color: gray;
      }
    }
    .input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      width: auto;
      border-radius: 8px;
      background: themed("input");
      input {
        width: 100%;
        background: transparent;
        border-color: transparent;
        border: 0;
        height: 30px;
        outline: none;
        color: themed("textColorActive");
      }
      button {
        background: transparent;
        border-color: transparent;
        color: gray;
      }
    }
  }
}
