.container-set-pass{
    border-left: 1px solid rgb(182, 179, 179);
    height: 100%;
    h1{
        margin-top: 0;
        padding:35px 20px 0 20px;
    }

    .form-box{
        border: none;
        border-radius: 10px;
        background-color: rgb(240, 237, 237);
        width: 75%;
        margin-left: 12rem;
        display: flex;
        height: 600px;
        .nav{
            display: flex;
            flex-direction: column;
            width: fit-content;
            border-right: 1px solid rgb(135, 134, 134);
            // padding-top: ;
            padding:200px 15px;
            height: 200px;
            .icon{
                font-size: 70px;
                position: relative;
                bottom: 150px;
                left: 28px;
            }
            button{
                position: relative;
                bottom: 60px;
                margin: 12px;
                padding: 10px;
                border: none;
                background-color: rgb(255, 180, 74);
                cursor: pointer;
                border-radius: 10px;
                font-size: 17px;
                .link-setting{
                    text-decoration: none;
                    color:rgb(20, 20, 20);
                    font-size: 17px;
                }
            }
        }

        .menu-detail{
            
            padding: 0px 25px;
            width: 75%;
            display: flex;

                .form{
                    padding-top: 15px;
                    width: 550px;
                    height: 100%;

                .input1{
                    i{
                        position: relative;
                        bottom: 65px;
                        left: 445px;
                    }
                }

                
                h2{
                    font-size: 30px;
                    margin-bottom: 75px;
                }

                input{
                    width: 85%;
                    padding: 10px;
                    border-radius: 5px;
                    outline: none;
                    margin: 13px 0;
                    font-size: 16px;
                    font-weight: 400;
                    border: none;
                }
                .input-group{
                    display: flex;
                    flex-direction: column;
                    margin-left:50px;
                    padding-left: 5px;
                    span{
                        font-size: 20px;
                    }
                }
                button{
                    margin: 15px;
                    padding: 10px 45px;
                    border: none;
                    border-radius: 5px;
                    background-color:rgb(255, 180, 74);
                    position: relative;
                    left: 190px;
                    cursor: pointer;
                    font-size: 18px;
                }
            
            }
            
        }
    }

}