@import "../../style.scss";
.post {
  @include themify($themes) {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    color: themed("textColorActive");
    background: themed("bg");
    .container {
      padding: 20px;

      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .userInfo {
          display: flex;
          gap: 20px;
          img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
          }
          .details {
            display: flex;
            flex-direction: column;
            .name {
              font-weight: 500;
            }
            .date {
              font-size: 12px;
            }
          }
        }
      }
      .content {
        margin: 20px 0;
        .slider-container {
          width: 678px;
          height: 452px;
          position: relative;
          overflow: hidden;
          .slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: 0.5s;
            .person-img {
              width: 678px;
              height: 452px;
              object-fit: cover;
            }
          }
          .prev {
            left: 10px;
            position: absolute;
            top: 210px;
            background: rgb(254, 254, 254, 0.2);
            color: black;
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-color: transparent;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.5s ease-in-out all;
          }
          .prev:hover {
            background: rgb(254, 254, 254, 0.5);
          }
          .next {
            right: 10px;
            position: absolute;
            top: 210px;
            background: rgb(254, 254, 254, 0.2);
            color: black;
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-color: transparent;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.5s ease-in-out all;
          }
          .next:hover {
            background: rgb(254, 254, 254, 0.5);
          }
        }
      }
      .info {
        display: flex;
        align-items: center;

        gap: 20px;

        .item {
          display: flex;
          align-items: center;
          font-size: 14px;
          gap: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
