$themes: (
  light: (
    textColorActive: #000,
    textColorsoft: #555,
    bg: #fff,
    icon: #000,
    bgnewfeed: #f6f3f3,
    input: #efefef,
  ),
  dark: (
    textColorActive: #ffffff,
    textColorsoft: #aca8a8,
    bg: #111111,
    icon: #d0c9c9,
    bgnewfeed: #1a1a1a,
    input: #262626,
  ),
);
@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
