@import "../../style.scss";

.albumList {
  @include themify($themes) {
    color: themed("textColorActive");
    background: themed("bg");
    margin: 0px 100px;
    font-size: 20px;
    width: 1000px;
    border-radius: 20px;
    // min-height: 620px;
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    .imageList {
      cursor: pointer;
      border-radius: 10px;
      display: flex;
      align-items: center;
      margin-top: 5px;
      .createAlbumContent {
        background-color: grey;
        width: 240px;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-bottom: 6px;
      }
      .imagePost {
        width: 240px;
        height: 240px;
        border-radius: 20px;
        object-fit: cover;
      }
    }

    .titleBar {
      font-size: 20px;
    }
  }
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-bottom: 30px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
