@import "../../style.scss";

.albumList {
  @include themify($themes) {
    color: themed("textColorActive");
    background: themed("bg");
    margin: 0px 100px;
    font-size: 20px;
    width: 1000px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    .imageList {
      border-radius: 10px;
      margin-left: 6px;
      margin-right: 6px;
      .createAlbumContent {
        background-color: grey;
        width: 230px;
        height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-bottom: 6px;
      }
      .imagePost {
        width: 230px;
        height: 230px;
        border-radius: 10px;
        object-fit: cover;
      }
    }

    .titleBar {
      font-size: 20px;
    }
  }
}
